header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #77625C;
  margin-bottom: 4vh;
}

nav {
  display: flex;
  justify-content: space-around;
  padding-top: 0.6vh;
  padding-bottom: 0.7vh;
  width: 50vw;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.navButton {
  width: 10vw;
  padding: 1vw;
  text-align: center;
  text-decoration: none;
  font-size: 0.8vw;
  text-transform: uppercase;
  color: #1A1E23;
  border-radius: 15%;
  transition: 200ms ease;
}

.clicked {
  background-color: #FFF6EB;
}

.navButton:hover {
  background-color: #FFF6EB;
  box-shadow: inset 0 0 10px #EFA9B3;
}

.showArea{
  width: 74vw;
  margin-left: auto;
  margin-right: auto;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 12vh;
}

.title1 {
  font-size: 3.5vw;
  margin-right: 1vw;
  width: 35vw;
}

.title2 {
  margin-left: 1vw;
  margin-right: 3vw;
  width: 35vw;
}

.infoRow1{
  margin-top: 6vh;
  display: flex;
}

.infoCol1{
  width: 60%;
  margin-left: 2%;
  padding: 4%;
  background: linear-gradient(130deg, rgba(244,212,184,1) 0%, rgba(239,169,179,1) 17%, rgba(61,90,128,1) 100%);
  box-shadow: 0 0 8px 8px #F4D4B8 inset;
}

.infoCol12{
  width: 30%;
  box-shadow: 0 0 8px 8px #F4D4B8 inset;
}

.info1Img{
  width: 100%;
}

.infoRow2{
  margin-top: 6vh;
  display: flex;
}

.infoCol2{
  align-items: center;
  width: 60%;
  margin-right: 2%;
  padding: 4%;
  background: linear-gradient(130deg, rgba(244,212,184,1) 0%, rgba(239,169,179,1) 17%, rgba(61,90,128,1) 100%);
  box-shadow: 0 0 8px 8px #F4D4B8 inset;
  text-align: right;
}

.infoCol22{
  width: 30%;
  box-shadow: 0 0 8px 8px #F4D4B8 inset;
}

.shadow {
  box-shadow: 4px 3px 42px -13px rgba(0,0,0,0.75);
}

.titleImg {
  width: 100%;
  border-radius: 50%;
}

.hamsterMessage {
  text-align: center;
  font-size: 2vw;
}

body {
  background-color: #F4D4B8;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #1A1E23;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #1A1E23;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #1A1E23;
  font-size: 1.3vw;
  margin-bottom: 0px;
}

.subtext {
  color: #FFF6EB;
  font-size: 0.7vw;
  margin-top: 2px;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 1vw;
}